/****** Object:  Database [WMSDB]    Script Date: 28/01/2026 8:04:28 SA ******/

/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[Id] [uniqueidentifier] NOT NULL,
	[DeliveryNumber] [nvarchar](50) NOT NULL,
	[OutboundId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[ShippingCity] [nvarchar](max) NULL,
	[ShippingState] [nvarchar](max) NULL,
	[ShippingZipCode] [nvarchar](max) NULL,
	[ShippingCountry] [nvarchar](max) NULL,
	[Carrier] [nvarchar](100) NULL,
	[TrackingNumber] [nvarchar](100) NULL,
	[VehicleNumber] [nvarchar](max) NULL,
	[DriverName] [nvarchar](max) NULL,
	[DriverPhone] [nvarchar](max) NULL,
	[PickupDate] [datetime2](7) NULL,
	[EstimatedDeliveryDate] [datetime2](7) NULL,
	[ActualDeliveryDate] [datetime2](7) NULL,
	[DeliveryNotes] [nvarchar](max) NULL,
	[FailureReason] [nvarchar](max) NULL,
	[IsReturn] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[ReceivedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Deliveries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryEvents]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryEvents](
	[Id] [uniqueidentifier] NOT NULL,
	[DeliveryId] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](max) NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[EventData] [nvarchar](max) NULL,
	[IsProcessed] [bit] NOT NULL,
	[PartnerEventId] [nvarchar](200) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_DeliveryEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundItems]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundItems](
	[Id] [uniqueidentifier] NOT NULL,
	[InboundId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[ExpectedQuantity] [decimal](18, 4) NOT NULL,
	[ReceivedQuantity] [decimal](18, 4) NOT NULL,
	[DamagedQuantity] [decimal](18, 4) NULL,
	[LotNumber] [nvarchar](max) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_InboundItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inbounds]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inbounds](
	[Id] [uniqueidentifier] NOT NULL,
	[InboundNumber] [nvarchar](50) NOT NULL,
	[ReferenceNumber] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ExpectedDate] [datetime2](7) NOT NULL,
	[ReceivedDate] [datetime2](7) NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[SupplierCode] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Inbounds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[QuantityOnHand] [decimal](18, 4) NOT NULL,
	[QuantityReserved] [decimal](18, 4) NOT NULL,
	[LastStockDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [uniqueidentifier] NOT NULL,
	[TransactionNumber] [nvarchar](50) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[BalanceBefore] [decimal](18, 4) NOT NULL,
	[BalanceAfter] [decimal](18, 4) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceType] [nvarchar](max) NULL,
	[ReferenceNumber] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Zone] [nvarchar](50) NOT NULL,
	[Aisle] [nvarchar](50) NOT NULL,
	[Rack] [nvarchar](50) NOT NULL,
	[Shelf] [nvarchar](50) NOT NULL,
	[Bin] [nvarchar](50) NOT NULL,
	[Capacity] [decimal](18, 4) NOT NULL,
	[CurrentOccupancy] [decimal](18, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LocationType] [nvarchar](max) NULL,
	[ParentLocationId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboundItems]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboundItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OutboundId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NOT NULL,
	[OrderedQuantity] [decimal](18, 4) NOT NULL,
	[PickedQuantity] [decimal](18, 4) NOT NULL,
	[ShippedQuantity] [decimal](18, 4) NOT NULL,
	[LotNumber] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_OutboundItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outbounds]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outbounds](
	[Id] [uniqueidentifier] NOT NULL,
	[OutboundNumber] [nvarchar](50) NOT NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShipDate] [datetime2](7) NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerCode] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[PaymentId] [uniqueidentifier] NULL,
	[DeliveryId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Outbounds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentEvents]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentEvents](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentId] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](max) NOT NULL,
	[EventData] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[GatewayEventId] [nvarchar](200) NULL,
	[IsProcessed] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PaymentEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentNumber] [nvarchar](50) NOT NULL,
	[OutboundId] [uniqueidentifier] NULL,
	[PaymentType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[ExternalPaymentId] [nvarchar](200) NULL,
	[PaymentGateway] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[PaymentDate] [datetime2](7) NULL,
	[ConfirmedDate] [datetime2](7) NULL,
	[TransactionReference] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[PaymentUrl] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[SessionExpiresAt] [datetime2](7) NULL,
	[SessionId] [nvarchar](200) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[UOM] [nvarchar](20) NOT NULL,
	[Weight] [decimal](18, 4) NOT NULL,
	[Length] [decimal](18, 4) NOT NULL,
	[Width] [decimal](18, 4) NOT NULL,
	[Height] [decimal](18, 4) NOT NULL,
	[Barcode] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[ReorderLevel] [decimal](18, 4) NULL,
	[MaxStockLevel] [decimal](18, 4) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/01/2026 8:04:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiry] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260117063511_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260124154357_InitialDb', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260126021637_updatedb261', N'9.0.0')
GO
INSERT [dbo].[Inbounds] ([Id], [InboundNumber], [ReferenceNumber], [Status], [ExpectedDate], [ReceivedDate], [SupplierName], [SupplierCode], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'f5dff4fa-41c7-420d-bb0f-110b96cb7d16', N'IB-20260126-0003', N'PO-2026-05', 1, CAST(N'2026-01-27T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-27T01:15:12.0508445' AS DateTime2), N'Tam Vu', NULL, NULL, CAST(N'2026-01-26T10:43:58.8897927' AS DateTime2), N'admin', CAST(N'2026-01-27T01:15:12.0511370' AS DateTime2), N'admin')
INSERT [dbo].[Inbounds] ([Id], [InboundNumber], [ReferenceNumber], [Status], [ExpectedDate], [ReceivedDate], [SupplierName], [SupplierCode], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'c7626459-02dd-45c1-9df6-230eff86109c', N'IB-20260126-0005', N'PO-2026-06', 1, CAST(N'2026-01-27T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-26T13:15:23.5273403' AS DateTime2), N'Tam Vu', NULL, N'create inbound', CAST(N'2026-01-26T10:53:51.5049784' AS DateTime2), N'admin', CAST(N'2026-01-26T13:15:23.5277200' AS DateTime2), N'admin')
INSERT [dbo].[Inbounds] ([Id], [InboundNumber], [ReferenceNumber], [Status], [ExpectedDate], [ReceivedDate], [SupplierName], [SupplierCode], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'85f7cd52-78ef-4ab4-9f93-3dc63a6063cb', N'IB-20260127-0004', N'PO-2025-14', 1, CAST(N'2026-01-28T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-27T13:50:58.0056122' AS DateTime2), N'Tam Vu', NULL, NULL, CAST(N'2026-01-27T13:50:50.7854275' AS DateTime2), N'admin', CAST(N'2026-01-27T13:50:58.0058630' AS DateTime2), N'admin')
GO
INSERT [dbo].[Inventories] ([Id], [ProductId], [LocationId], [QuantityOnHand], [QuantityReserved], [LastStockDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'b9739148-e819-482a-94e4-27c75df31bce', N'2fd574b5-e8a0-4b74-b88f-31fe41332883', N'31080af3-ccc0-43af-a6f0-607aee9ab66b', CAST(202.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2026-01-27T01:15:12.0470470' AS DateTime2), NULL, CAST(N'2026-01-27T01:15:03.9434192' AS DateTime2), N'admin', CAST(N'2026-01-27T01:15:12.0511383' AS DateTime2), N'admin')
INSERT [dbo].[Inventories] ([Id], [ProductId], [LocationId], [QuantityOnHand], [QuantityReserved], [LastStockDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'12edcb05-aa94-4d57-8bdd-8d793f8190a3', N'679bd2f5-3b7c-421c-8b13-a7a4dce43e17', N'ec87482d-c3d7-44a0-b177-7cbc6a4cf827', CAST(100.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2026-01-26T14:33:51.7403013' AS DateTime2), NULL, CAST(N'2026-01-26T14:33:51.7403015' AS DateTime2), N'admin', NULL, NULL)
INSERT [dbo].[Inventories] ([Id], [ProductId], [LocationId], [QuantityOnHand], [QuantityReserved], [LastStockDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'3e402068-28ad-4463-a9a4-a72513d3b871', N'2fd574b5-e8a0-4b74-b88f-31fe41332883', N'ec87482d-c3d7-44a0-b177-7cbc6a4cf827', CAST(400.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2026-01-27T14:38:54.5022622' AS DateTime2), NULL, CAST(N'2026-01-26T13:15:23.5190918' AS DateTime2), N'admin', CAST(N'2026-01-27T14:38:54.5083267' AS DateTime2), N'admin')
GO
INSERT [dbo].[Locations] ([Id], [Code], [Name], [Description], [Zone], [Aisle], [Rack], [Shelf], [Bin], [Capacity], [CurrentOccupancy], [IsActive], [LocationType], [ParentLocationId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'2563acbc-2c5f-4371-afb9-3f4a46b2dbf1', N'LOC-002', N'TPHCM', N'', N'ASIA', N'100', N'100', N'100', N'100', CAST(10000.0000 AS Decimal(18, 4)), CAST(0.0128 AS Decimal(18, 4)), 1, NULL, NULL, CAST(N'2026-01-26T06:06:36.8182072' AS DateTime2), N'admin', CAST(N'2026-01-27T01:15:19.5240432' AS DateTime2), N'admin')
INSERT [dbo].[Locations] ([Id], [Code], [Name], [Description], [Zone], [Aisle], [Rack], [Shelf], [Bin], [Capacity], [CurrentOccupancy], [IsActive], [LocationType], [ParentLocationId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'31080af3-ccc0-43af-a6f0-607aee9ab66b', N'LOC-003', N'TPHCM', N'', N'ASIA', N'100', N'100', N'100', N'100', CAST(10000.0000 AS Decimal(18, 4)), CAST(0.0379 AS Decimal(18, 4)), 1, NULL, NULL, CAST(N'2026-01-26T08:54:48.1184280' AS DateTime2), N'admin', CAST(N'2026-01-27T01:15:19.5240428' AS DateTime2), N'admin')
INSERT [dbo].[Locations] ([Id], [Code], [Name], [Description], [Zone], [Aisle], [Rack], [Shelf], [Bin], [Capacity], [CurrentOccupancy], [IsActive], [LocationType], [ParentLocationId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'ec87482d-c3d7-44a0-b177-7cbc6a4cf827', N'LOC-001', N'TPHCM', N'', N'ASIA', N'100', N'100', N'100', N'100', CAST(10000.0000 AS Decimal(18, 4)), CAST(0.0625 AS Decimal(18, 4)), 1, NULL, NULL, CAST(N'2026-01-26T06:04:53.8229608' AS DateTime2), N'admin', CAST(N'2026-01-27T14:38:54.5083264' AS DateTime2), N'admin')
GO
INSERT [dbo].[OutboundItems] ([Id], [OutboundId], [ProductId], [LocationId], [OrderedQuantity], [PickedQuantity], [ShippedQuantity], [LotNumber], [SerialNumber], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'8066dde3-10dc-4cba-a964-00ccd4cd0685', N'e5cab635-1c27-45d5-9907-727075f2cdcd', N'2fd574b5-e8a0-4b74-b88f-31fe41332883', N'ec87482d-c3d7-44a0-b177-7cbc6a4cf827', CAST(1.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), NULL, NULL, NULL, CAST(N'2026-01-27T12:30:23.0917090' AS DateTime2), N'admin', NULL, NULL)
INSERT [dbo].[OutboundItems] ([Id], [OutboundId], [ProductId], [LocationId], [OrderedQuantity], [PickedQuantity], [ShippedQuantity], [LotNumber], [SerialNumber], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'7eb984e3-eb0f-4af6-8ce3-3cc72a417294', N'b1b4da07-539d-4820-b09f-db0ece0d0381', N'2fd574b5-e8a0-4b74-b88f-31fe41332883', N'ec87482d-c3d7-44a0-b177-7cbc6a4cf827', CAST(5.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), NULL, NULL, NULL, CAST(N'2026-01-26T14:34:38.6272070' AS DateTime2), N'admin', NULL, NULL)
GO
INSERT [dbo].[Outbounds] ([Id], [OutboundNumber], [OrderNumber], [Status], [OrderDate], [ShipDate], [CustomerName], [CustomerCode], [ShippingAddress], [Notes], [PaymentId], [DeliveryId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'9ec7bb80-201c-4c1e-8e68-0168bb9f52a5', N'OUT-20260127-0001', NULL, 0, CAST(N'2026-01-27T00:23:43.7903247' AS DateTime2), NULL, N'Tam Vu', NULL, N'2 do doc long', NULL, NULL, NULL, CAST(N'2026-01-27T00:23:43.7652104' AS DateTime2), N'admin', NULL, NULL)
INSERT [dbo].[Outbounds] ([Id], [OutboundNumber], [OrderNumber], [Status], [OrderDate], [ShipDate], [CustomerName], [CustomerCode], [ShippingAddress], [Notes], [PaymentId], [DeliveryId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'e5cab635-1c27-45d5-9907-727075f2cdcd', N'OUT-20260127-0003', NULL, 0, CAST(N'2026-01-27T12:30:23.0913571' AS DateTime2), NULL, N'Tam Vu', NULL, N'2 do doc long', NULL, NULL, NULL, CAST(N'2026-01-27T12:30:23.0631787' AS DateTime2), N'admin', NULL, NULL)
INSERT [dbo].[Outbounds] ([Id], [OutboundNumber], [OrderNumber], [Status], [OrderDate], [ShipDate], [CustomerName], [CustomerCode], [ShippingAddress], [Notes], [PaymentId], [DeliveryId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'd214e1e1-1a9f-443e-a6ed-80058adf7e05', N'OUT-20260127-0005', NULL, 4, CAST(N'2026-01-27T14:06:51.1310209' AS DateTime2), CAST(N'2026-01-27T14:37:35.7781148' AS DateTime2), N'Tam Vu', NULL, N'2 do doc long', N'nnn', NULL, NULL, CAST(N'2026-01-27T14:06:51.1092410' AS DateTime2), N'admin', CAST(N'2026-01-27T14:37:35.9070480' AS DateTime2), N'admin')
GO
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Status], [UOM], [Weight], [Length], [Width], [Height], [Barcode], [Category], [ReorderLevel], [MaxStockLevel], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'2cc978b8-3cb9-4934-8866-965b2ebcbdb7', N'ABC-12346-S-BL', N'Computer Laptop', N'Dell', 1, N'BOX', CAST(0.1400 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), N'12345678923', N'12', CAST(0.0000 AS Decimal(18, 4)), NULL, CAST(N'2026-01-26T05:56:09.5681400' AS DateTime2), N'admin2', NULL, NULL)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Status], [UOM], [Weight], [Length], [Width], [Height], [Barcode], [Category], [ReorderLevel], [MaxStockLevel], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'679bd2f5-3b7c-421c-8b13-a7a4dce43e17', N'ABC-12347-S-BL', N'Computer Laptop', N'mmmmmmmmm', 1, N'PCS', CAST(0.1400 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), CAST(5.0000 AS Decimal(18, 4)), N'12345652555', N'12', CAST(0.0000 AS Decimal(18, 4)), NULL, CAST(N'2026-01-26T14:32:11.6920683' AS DateTime2), N'admin', NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'b7ae6236-c874-4782-85fa-0ec5696aa8c0', N'Admin', N'System Administrator', CAST(N'2026-01-26T02:16:34.5905318' AS DateTime2), N'System', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'e8499283-7171-4271-8f9d-3e0c2f391fbb', N'WarehouseStaff', N'Warehouse Staff', CAST(N'2026-01-26T02:16:34.5905931' AS DateTime2), N'System', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (N'acee3821-07d6-41c0-94a0-f7c511de59f3', N'Manager', N'Warehouse Manager', CAST(N'2026-01-26T02:16:34.5905927' AS DateTime2), N'System', NULL, NULL)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [AssignedAt], [AssignedBy]) VALUES (N'34abfda8-e6e0-468c-98f3-a27dd1eca567', N'b7ae6236-c874-4782-85fa-0ec5696aa8c0', CAST(N'2026-01-26T02:16:34.5916928' AS DateTime2), N'System')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Deliveries_DeliveryNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Deliveries_DeliveryNumber] ON [dbo].[Deliveries]
(
	[DeliveryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Deliveries_TrackingNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_Deliveries_TrackingNumber] ON [dbo].[Deliveries]
(
	[TrackingNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeliveryEvents_DeliveryId_PartnerEventId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DeliveryEvents_DeliveryId_PartnerEventId] ON [dbo].[DeliveryEvents]
(
	[DeliveryId] ASC,
	[PartnerEventId] ASC
)
WHERE ([PartnerEventId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_InboundId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_InboundId] ON [dbo].[InboundItems]
(
	[InboundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_LocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_LocationId] ON [dbo].[InboundItems]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_ProductId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_ProductId] ON [dbo].[InboundItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Inbounds_InboundNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Inbounds_InboundNumber] ON [dbo].[Inbounds]
(
	[InboundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventories_LocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_Inventories_LocationId] ON [dbo].[Inventories]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventories_ProductId_LocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Inventories_ProductId_LocationId] ON [dbo].[Inventories]
(
	[ProductId] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_LocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_LocationId] ON [dbo].[InventoryTransactions]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_ProductId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_ProductId] ON [dbo].[InventoryTransactions]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryTransactions_TransactionNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_TransactionNumber] ON [dbo].[InventoryTransactions]
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Locations_Code]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Locations_Code] ON [dbo].[Locations]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Locations_ParentLocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_Locations_ParentLocationId] ON [dbo].[Locations]
(
	[ParentLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_LocationId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_LocationId] ON [dbo].[OutboundItems]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_OutboundId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_OutboundId] ON [dbo].[OutboundItems]
(
	[OutboundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_ProductId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_ProductId] ON [dbo].[OutboundItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Outbounds_DeliveryId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Outbounds_DeliveryId] ON [dbo].[Outbounds]
(
	[DeliveryId] ASC
)
WHERE ([DeliveryId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Outbounds_OutboundNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Outbounds_OutboundNumber] ON [dbo].[Outbounds]
(
	[OutboundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Outbounds_PaymentId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Outbounds_PaymentId] ON [dbo].[Outbounds]
(
	[PaymentId] ASC
)
WHERE ([PaymentId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentEvents_PaymentId_GatewayEventId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentEvents_PaymentId_GatewayEventId] ON [dbo].[PaymentEvents]
(
	[PaymentId] ASC,
	[GatewayEventId] ASC
)
WHERE ([GatewayEventId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_ExternalPaymentId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ExternalPaymentId] ON [dbo].[Payments]
(
	[ExternalPaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OutboundId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_OutboundId] ON [dbo].[Payments]
(
	[OutboundId] ASC
)
WHERE ([OutboundId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_PaymentNumber]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_PaymentNumber] ON [dbo].[Payments]
(
	[PaymentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_SessionId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_Payments_SessionId] ON [dbo].[Payments]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_SKU]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_SKU] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_Name]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_Name] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 28/01/2026 8:04:29 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryEvents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[PaymentEvents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[DeliveryEvents]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryEvents_Deliveries_DeliveryId] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Deliveries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryEvents] CHECK CONSTRAINT [FK_DeliveryEvents_Deliveries_DeliveryId]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK_InboundItems_Inbounds_InboundId] FOREIGN KEY([InboundId])
REFERENCES [dbo].[Inbounds] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK_InboundItems_Inbounds_InboundId]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK_InboundItems_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK_InboundItems_Locations_LocationId]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK_InboundItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK_InboundItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Locations_LocationId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Products_ProductId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Locations_LocationId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products_ProductId]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Locations_ParentLocationId] FOREIGN KEY([ParentLocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Locations_ParentLocationId]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK_OutboundItems_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK_OutboundItems_Locations_LocationId]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK_OutboundItems_Outbounds_OutboundId] FOREIGN KEY([OutboundId])
REFERENCES [dbo].[Outbounds] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK_OutboundItems_Outbounds_OutboundId]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK_OutboundItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK_OutboundItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Outbounds]  WITH CHECK ADD  CONSTRAINT [FK_Outbounds_Deliveries_DeliveryId] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Deliveries] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Outbounds] CHECK CONSTRAINT [FK_Outbounds_Deliveries_DeliveryId]
GO
ALTER TABLE [dbo].[Outbounds]  WITH CHECK ADD  CONSTRAINT [FK_Outbounds_Payments_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Outbounds] CHECK CONSTRAINT [FK_Outbounds_Payments_PaymentId]
GO
ALTER TABLE [dbo].[PaymentEvents]  WITH CHECK ADD  CONSTRAINT [FK_PaymentEvents_Payments_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentEvents] CHECK CONSTRAINT [FK_PaymentEvents_Payments_PaymentId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Outbounds_OutboundId] FOREIGN KEY([OutboundId])
REFERENCES [dbo].[Outbounds] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Outbounds_OutboundId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
